<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Mongo Scraper</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down nav">
            <li><a href="/">Home</a></li>
            <li><a href="/saved">Saved Articles</a></li>
            <li><a id="scrape" class="waves-effect waves-light btn scrape">Scrape new articles</a></li>
            <li><a class="waves-effect waves-light btn clear">Clear articles</a></li>
        </ul>


        <ul class="sidenav nav" id="mobile-demo">
            <li class="home"><a href="/">Home</a></li>
            <li class="saved"><a href="/saved">Saved Articles</a></li>
            <li><a class="waves-effect waves-light btn scrape">Scrape new articles</a></li>
            <li><a class="waves-effect waves-light btn clear">Clear articles</a></li>
        </ul>
    </div>
</nav>