<div style="margin: auto" class="container-fluid">
  <div class="row">
    <div class="col s12">
      <div class="centered">
        <img style="width:700px" src="/images/404.png" class="responsive-img">
        <h1>Oops!...Page Not Found
        </h1>
        <p><a class="btn" href="/"> Back To All the News</a></p>
      </div>
    </div>
  </div>
</div>